@charset "UTF-8";

.container{
	padding: 20px;
    width: 960px;
    height: auto;
    margin: 0 auto 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}	

button {
	width: 425px;
	height: 425px;
}

.button1 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button2 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button3 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button4 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button5 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button6 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button7 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button8 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button9 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button10 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button11 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button12 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button13 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button14 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button15 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.button16 {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}